@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding and margin */
* {
  padding: 0;
  margin: 0;
}

/* Default anchor tag styling */
a {
  text-decoration: none;
  color: rgb(137, 104, 104);
}

a:hover {
  cursor: pointer;
}

/* Body styling */
html,
body {
  position: relative;
  height: 100%;
  background: linear-gradient(to top right, yellow, pink);
}

body {
  font-family: 'Balsamiq Sans', cursive, "Roboto Mono";
  font-size: 30px;
  text-align: justify;
}

.container {
  padding-top: 10vh;

}

.container>div {
  height: 80vh;
}

 .project_content {
  justify-items: center;
  align-items: center;
} 

.project_content h1,
h2,
p {
  padding: 0.2rem 1rem;
}

.project_content img {
  height: 35%;
  max-width: 100%;
}

/* Swiper container stylng */
.swiper {
  right: 1rem;
  height: 100%;
  width: 50%;

} 


.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}


.text{
    margin: 25px;
    color: rgb(128, 121, 115);
}

.container p{
    color: rgb(128, 121, 115);
    text-align: center;
}
.swiper-pagination-bullet {
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-color: black;
  }

;
  